:root {
  --state-color: #000;
  --group-color: #fff;
  --element-number-visibility: hidden;
  --element-symbol-visibility: visible;
  --element-name-visibility: hidden;
}

html {
  height: 100%;
  width: 100%;
}

form {
  flex: content;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

label {
  display: inline;
}

input {
  display: inline;
  margin-top: 0.5%;
}

#element-div {
  margin-top: 0.5%;
  height: 150px;
  width: 120px;
  background-color: var(--group-color);
  border: 4px solid black;
  border-radius: 15px;
}

#element-number {
  font-size: 20px;
  position: relative;
  justify-self: flex-start;
  align-self: flex-start;
  left: 9px;
  top: -15px;
  visibility: var(--element-number-visibility);
}

#element-symbol {
  font-size: 48px;
  position: relative;
  justify-self: center;
  align-self: center;
  top: -55px;
  color: var(--state-color);
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  visibility: var(--element-symbol-visibility);
}

#element-name {
  font-size: 24px;
  position: relative;
  justify-self: center;
  align-self: center;
  top: -110px;
  visibility: var(--element-name-visibility);
}